.about{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 5vw;

}

.about_right{
  padding-left: 4vw;
  font-family: 'Nanum Pen Script', cursive;
  animation: aboutanim2 5s forwards;
}

.about_left img{
    animation: aboutanim 5s forwards;
}

@keyframes aboutanim {
  0%{
    transition: 2s;
      transform: translate(-75vh);
      opacity: 0;
  }
  
  100%{
    transition: 2s;
    transform: translate(1vh);
    opacity: 1;
  }
}

@keyframes aboutanim2 {
  0%{
    transition: 2s;
      transform: translate(75vh);
      opacity: 0;
  }

  100%{
    transition: 2s;
    transform: translate(-1vh);
    opacity: 1;
  }
}

@media screen and (max-width:1040px) {
  .about{
    display: block;
  }

  .about_left img{
    animation: none;
    width: auto;
  }
}