.community{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 5vw;
}

.com_right img{
    border: 1px solid black;
    border-radius: 0% 40% ;
    box-shadow: 0px 8px 8px 0px;
}

.com_left{
    padding-right: 5vw;
}