
.contact-parent{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 6vw;
}

.contact_left{
    border: 1px solid rgb(0, 162, 255);;
    background-color:aliceblue;
    text-align: center;
    height: 60vh;
    width:35vw;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0px 8px 10px 0px;
    font-family: 'Indie Flower', cursive;
    animation: aboutanim2 5s forwards;
}

.contact_right img{
    animation: aboutanim 5s forwards;
}

@media screen and (max-width:1040px) {
    .contact_right img{
        width:85vw;
        animation: none;
    }
    .contact-parent{
        display: block;
    }
    .contact_left{
        width: auto;
        height: auto;
    }
}