
.carousel{
    margin: 6vh 0;
}
.slick-slide{
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: 12vh;
    border: none !important;
}


.carouselimg img{
    width: 100%;
    height: 100%;
    border-radius: 8%;
}

.slick-next{
    right: 8px;
    z-index: 1;
}

.slick-prev{
    left: 8px;
    z-index: 1;
}

.slick-active{
    border: none;
}

.slick-slide div:focus-visible{
    outline: none !important;
}

@media screen and (max-width:640px) {

    .carousel{
        margin: 3vh 0;
    }

    .carouselimg img{
        width: 200%;
        height: 100%;
        border-radius: 8%;
    }

    .slick-slide{
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-left: 15vh;
        border: none !important;
    }

    .slick-next{
       display: none;
    }
    
    .slick-prev{
       display: none;
    }
}