.ProfileCard img{
    border: 4px solid rgb(255, 187, 0);
    border-radius: 50%;
    box-shadow: 8px black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 0px 8px 0px;
}

.ProfileCard img:hover{
    transition: 1s;
    transform: scale(1.04);
}

.Top{
    height: 350px;
    width: 350px;
}

.Middle{
    height: 250px;
    width: 250px;
}

.Bottom{
    height: 170px;
    width: 170px;

}

.Image img{
    width: 100%;
    height: 100%;
}

.Details{
    text-align: center;
}

.Name{
    font-size: larger;
    font-weight: bolder;
    display: block;
}

.Designation{
    font-size: large;
}

@media screen and (max-width:1040px) {
    .ProfileCard img{
        border-radius: 20%;
    }
    .Top{
        width: auto;
        height: auto;
    }
    .Middle{
        width: auto;
        height: auto;
    }
    .Bottom{
        width: auto;
        height: auto;
    }

    .ProfileCard img:hover{
        transform: none;
    }
}